<form class="container space-y-5" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title" class="mb-1">Title:</label>
      <input id="title" formControlName="title" class="form-control" placeholder="Enter title">
      <div *ngIf="todoForm.get('title')?.invalid && todoForm.get('title')?.touched" class="text-danger">
        Title is required and should be at least 3 characters long.
      </div>
    </div>
  
    <div class="form-group">
      <label for="desc" class="mb-1">Description:</label>
      <textarea id="desc" formControlName="desc" class="form-control" placeholder="Enter description"></textarea>
      <div *ngIf="todoForm.get('desc')?.invalid && todoForm.get('desc')?.touched" class="text-danger">
        Description is required and should be at least 5 characters long.
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary mt-2 mb-5" [disabled]="todoForm.invalid">Submit</button>
  </form>
  